<div id="left-col" class="left">
  <h1>Home</h1>
  <p><q>A vision is now a reality...We wanted to provide a Nursing Home to which we could be happy to send a beloved parent, should he or she need such care</q></p>

<p>
Located in Mandeville's DeCarteret Gardens, Jamaica, truly professional care is offered in a happy, home style environment. It is an all encompassing centre for the 60 plus...those who want to stay...need to stay and for those who want to come just for the day.
</p>
</div>
<div id="right-col">

<div class="testimonial">





<q>We can't express in words our gratitude for caring [for our family member] with dignity. You have a wonderful home...your philosophy for caring for the elderly was perfect. </q>
<h3>a relative who is a doctor</h3>





</div>
</div>
