 <div id="main-photo-shadow">
  <div id="main-photo-canvas">
   <div id="slideshow" class="pics" style="margin: 18px 16px;">
    <%= image_tag "photo_home.jpg", size: '827x279', class: "pic", alt: "Home" %>
    <img src="/images/photo_aboutus.jpg" width="827" height="279" alt="About us"/>
    <img src="/images/photo_services.jpg" width="827" height="279" alt="Services"/>
    <img src="/images/photo_contactus.jpg" width="827" height="279" alt="Contactus"/>
    <img src="/images/photo_gallery.jpg" width="827" height="279" alt="Photo Gallery"/>
    <img src="/images/photo_testimonials.jpg" width="827" height="279" alt="Testimonials"/>
   </div>
  </div>
 </div>

 </div>
 <div id="main-content">
  <div id="left-col" class="left">
    <h1>Home</h1>
    <p><q>A vision is now a reality...We wanted to provide a Nursing Home to which we could be happy to send a beloved parent, should he or she need such care</q></p>

<p>
Located in Mandeville's DeCarteret Gardens, Jamaica, truly professional care is offered in a happy, home style environment. It is an all encompassing centre for the 60 plus...those who want to stay...need to stay and for those who want to come just for the day.
</p>
  </div>
  <div id="right-col">

 <div class="testimonial">


  <q>It was a great comfort to me to know that he was getting the attention which I wanted him to have but was physically unable to give myself. We are grateful to each and every one of you for the part you played in making a very...</q>
  <h3>a wife here at home</h3>


 </div>
</div>

