  <div id="left-col" class="left">
    <h1>About Us</h1>
    <p><img class="content" src="/images/owners.png" alt="Fay & Mavis Pegrave"/>
The Managing Partner &ndash; Fay Petgrave is a nurse and midwife, qualified at the Nursing School founded by Florence Nightingale at Thomas hospital, London, England. She holds Bachelors and Masters Degrees. Of note, her dissertation subject for her Masters pertained to providing assisted care for the elderly, especially Alzheimer&rsquo;s. Fay Petgrave was the first Regional Director/CEO of The Government of Jamaica&rsquo;s Southern Regional Health Authority.</p>

<p>Partner, Mavis Petgrave is herself a Senior who retired from teaching as a Vice Principal. Mrs. Petgrave has spent a lifetime caring for and ministering to many within the community of Mandeville, from the young to the very elderly.</p>

  </div>
  <div id="right-col">

 <div class="testimonial">





  <q>From my visits to the home, I can personally attest to the care and attention given to my mother and it was gratifying to not that she was able to spend the closing years of her life in such a pleasant and relaxing settings.</q>
  <h3>a son</h3>





 </div>
</div>

