<div id="left-col" class="left">
    <h1>Contact Us</h1>
    <p>We are located at <strong>3 Orange Close, Ingleside, Mandeville, Jamaica W.I.</strong>.</p>

<p>You may email us at <a href="mailto:eulice.uttonhomes@cwjamaica.com">eulice.uttonhomes@cwjamaica.com</a> <br />or
call us at <strong>(876) 625-7777</strong></p>

<p>
  Connect with us on <a href="https://www.facebook.com/eulice.utton" target="_blank">Facebook</a>
</p>

<p>You may also just send us a message here as well:</p>

<p><form action="/pages/13/mail#mailer" method="post" id="mailer" name="mailer[contact]"></p>

<p> <label>Name <span class="error"><em></span></label><input type="text" value="" class="text required" id="name" name="mailer[name]" /><input type="hidden" name="mailer[required][name]" value="true" />
 <br />
 <label>Subject</label><input type="text" value="" class="text" id="subject" name="mailer[subject]" /><br/>
 <label>Phone <span class="error"></em></span></label><input type="text" value="" class="text requried" id="phone" name="mailer[phone]" /><input type="hidden" name="mailer[required][phone]" value="true" />
 <br />
 <label>Email <span class="error"><em></span></label><input type="text" value="" class="text requried email" id="email" name="mailer[email]" /><input type="hidden" name="mailer[required][email]" value="true" />
 <br />
 <label>Message <span class="error"></em></span></label>
  <textarea class="text" id="message" rows="5" cols="35" name="mailer[message]"></textarea><input type="hidden" name="mailer[required][message]" value="true" />
 <br /><br />
 <br/></p>

<p> <input type="submit" value="Send Message"/>
 <br/><br />
 <span class="error">*</span> indicates a required field.<br />
</form></p>

  </div>
  <div id="right-col">

 <div class="testimonial">





  <q>From my visits to the home, I can personally attest to the care and attention given to my mother and it was gratifying to not that she was able to spend the closing years of her life in such a pleasant and relaxing settings.</q>
  <h3>a son</h3>





 </div>
</div>