<div id="left-col" class="max">
    <h1>Fay Petgrave's Dissertation</h1>

    <h3>
      Exerpts from Fay Petgrave’s Dissertation: Masters of Arts, Health Facilities Planning,
      London Metropolitan University, 1984
    </h3>
    <br />

    <q>
      ......It has been demonstrated that many of the mental illnesses in the elderly (the functional mental illnesses)
      are treatable with much the same success rates as similar illnesses in younger age groups. Perhaps for this
      reason some Health Authorities are already treating functional mental illnesses in the elderly alongside the other
      age groups.
    <br />
    <br />

      Assessment, treatment and rehabilitation (of an intensive nature) are therefore, at present, the only services in mental
      illnesses that justify a hospital setting; in other words, an institutional facility providing concentrated specialist
      skills: investigative, treatment and rehabilitative, in  [one] spot.  Much of the other care may be dispensed in the
      community, with adequate backup systems including day hospitals or day centres.
    <br />
    <br />

      There are however a section of the elderly mentally ill who will, in light of present technology, need long term care.  These
      include primarily, the elderly patient [with dementia], but also patients suffering from, e.g., ‘depressed invalidism’.
      Of course, not all who fall into this category will need institutional long term care. Some may be cared for by a spouse or
      by children or even devoted friends. ......

    <br />
    <br />

      There are those however who will for one reason or another need paid carers to assist them in looking after their general
       wellbeing.  It is to this group that this paper will be devoted.

    <br />
    <br />

      In keeping with the principle of keeping the elderly in a home setting for as long as is possible, the facility
      will be integrated with the community and less so with the hospital.  The presumption being that the elderly person,
      suffering with dementia of whatever category: [Alzheimer’s disease, multi-infarct (arteriosclerotic) dementia and
      benign dementia] will have been carefully assessed and diagnosed and any other illnesses treated as far as possible....
      the unit [being proposed is] integrated with an existing residence for the elderly.

    <br />
    <br />

      This fulfills more satisfactorily the requirement of keeping staff morale high.  But most importantly, it will help
      to prevent care for the patient suffering from dementia [including Alzheimer’s disease] to be, by being treated as a
      special case, again regulated into the ‘ghetto’ of health care.....

    <br />
    <br />
      By keeping these patients within units for other elderly people, and with the additional practice of keeping the
      psycho geriatrician on the admissions panel, patients suffering from dementia [including Alzheimer’s disease] are less
      likely to suffer from neglect on all levels, including research, as they have in the past.

    <br />
    <br />
      By keeping the setting domestic, the criteria of homelike care, is met.
    </q>
    <br />
    <br />
    <p><b>The Nursing Home Fay owns and operates follow these principles in a home setting.</b></p>
</div>