<div id="left-col" class="left">
  <h1>FAQ</h1>

  <p>
    US Social Security benefits can make assisted living and nursing home/memory care for seniors with
    dementia/Alzheimer's affordable at the Eulice Utton Homes in Jamaica.
  </p>
  <br />

  <h3>
    Question: Can U.S. Social Security income cover the cost of assisted living/memory care
    at the Eulice Utton Homes?
  </h3>
  <br />
  <p>
    <b>Answer:</b> Yes. If the recipient worked for at least 10 years in the U.S. and the benefit is
    about U.S. $1250. Eulice Utton Homes in beautiful Mandeville, Jamaica, costs less than this.
    The Eulice Utton Homes is an excellent nursing home/memory care facility. This makes it an
    attractive option for returning residents and others who may not be able to afford assisted
    living costs in the U.S. which runs as much as $3000 per month for comparable facilities and
    averages about U.S. $5000 per month for bed ridden patients.
  </p>
  <br />


  <h3>
    Question: Can someone who qualifies for Medicare in the U.S. use this to pay for medical care or
    prescriptions at the Eulice Utton Homes?
  </h3>
  <br />
  <p>
    <b>Answer:</b> No. Medicare will not pay for any of this outside of the U.S. However the Eulice Utton
    includes bi-monthly doctor’s visit in the resident’s fees. Most medications cost much less in
    Jamaica than in the U.S. and the Eulice Utton Homes have arrangements with a local pharmacy and might
    be able to negotiate even better packages.
  </p>
  <br />

  <h3>
    Question: Do I need to obtain legal guardianship of a parent with dementia, including Alzheimer’s
    in order to manage their Social Security income to pay for their assisted living or nursing home
    at the Eulice Utton Homes?
  </h3>
  <br />
  <p>
    <b>Answer:</b> No. There is usually no need to undertake the expense of obtaining legal guardianship.
    The Social Security office handling a claimant's case can decide that a benefit payee
    (representative payee) is required even when there is no legal guardian or power of attorney. Social
    Security Administration (SSA) will appoint a representative to receive disability cheques if the
    recipient is mentally incapacitated. This person, or organization, is called a representative payee.
  </p>
  <br />

  <h3>
    Question: Do I need to obtain legal guardianship of a parent with dementia, including Alzheimer’s
    in order to manage their Social Security income to pay for their assisted living or nursing home
    at the Eulice Utton Homes?
  </h3>
  <br />
  <p>
    <b>Answer:</b> No. There is usually no need to undertake the expense of obtaining legal guardianship.
    The Social Security office handling a claimant's case can decide that a benefit payee
    (representative payee) is required even when there is no legal guardian or power of attorney. Social
    Security Administration (SSA) will appoint a representative to receive disability cheques if the
    recipient is mentally incapacitated. This person, or organization, is called a representative payee.
  </p>
  <p>
    In one example, the beneficiary suffers from Alzheimer’s. Although she could provide basic self-care,
    the claimant frequently suffered bouts of confusion and experienced increasing difficulty organizing
    and paying her bills on time. The claimant’s judgment was also affected and she frequently misused
    money and failed to pay for basic needs. Because of these symptoms, the SSA determined it was in her
    best interest to assign the claimant a representative payee.
  </p>
  <br />

  <h3>
    Question: How Does the SSA Decide Who will be the Representative Payee?
  </h3>
  <br />
  <p>
    <b>Answer:</b> In determining that a person with Dementia/Alzheimer's requires a representative payee,
    the SSA needs a letter from the <u>patient's treating physician or psychiatrist</u> that states he or she
    believes the patient cannot take care of their finances. When deciding on whom to appoint as the
    representative payee, the SSA will look first at whether the recipient lives with someone who helps
    takes care of them. If they do not, the SSA may choose a family member, friend, legal guardian, or a
    lawyer.
  </p>
  <p>
    The goal of the SSA is to select someone who knows the recipient well, sees them frequently, is familiar
    with their needs and wants and can demonstrate that they would not themselves be dependent on the SS funds.
    If none of these options are available, the SSA may select an organization that specializes in handling
    Social Security benefits for people. Or, if the recipient lives in a nursing home the facility may receive
    the benefits to pay for care.
  </p>
  <br />

  <h3>
    Question: Is The Eulice Utton Homes experienced in managing this option?
  </h3>
  <br />
  <p>
    <b>Answer:</b> Yes. The Eulice Utton Homes has a history of being involved with representative payees for
    payment of fees using this option. They would be happy also to arrange for transportation to and from the
    airport in Jamaica and accommodation for accompanying relatives/friends if they are asked to do so.
  </p>
  <br />
  <br />
  <h3>
    This Q&A was prepared by the Daughter of one of Eulice Utton Home’s Residents who has used the processes described
    above and refers to material provided by SSA.
  </h3>
</div>
<div id="right-col" class="not-testimonial">
  <h2>Other Useful Links:</h2>
  <ul>
    <li><a href="http://www.ssa.gov/payee/bene.htm#a0=3" target="_blank">Q&A about the program</a></li>
    <li><a href="http://www.ssa.gov/pubs/EN-05-10076.pdf" target="_blank">A Guide for Representative Payees</a></li>
    <li><a href="http://www.ssa.gov/pubs/EN-05-10097.pdf" target="_blank">When a Representative Payee Manages Your Money</a></li>
  </ul>
  <br />

</div>

