<div id="left-col" class="left">
    <h1>Services</h1>
    <table width="100%" cellspacing="0" >
<tr class="lightbox-img">
  <td class="caption">
   <%= link_to image_tag('services_images/image1_thumb.jpg', size: '151x100'), '/assets/services_images/image1.jpg', 'data-lightbox' => 'image1' %>
  </td>
  <td class="caption">
    <%= link_to image_tag('services_images/image2_thumb.jpg', size: '151x100'), '/assets/services_images/image2.jpg', 'data-lightbox' => 'image2' %>
  </td>
  <td class="caption">
    <%= link_to image_tag('services_images/image3_thumb.jpg', size: '151x100'), '/assets/services_images/image3.jpg', 'data-lightbox' => 'image3' %>
  </td>
</tr>
<tr  class="lightbox-img">
 <td class="caption"><p>Bedrooms <br />[Click Image to Enlarge]</p></td>
 <td class="caption"><p>Living Area <br />[Click Image to Enlarge]</p></td>
 <td class="caption"><p>Verandah <br />[Click Image to Enlarge]</p></td>
</tr>
</table>


<p>The Eulice Hutton Homes has accommodation for up to 20 Seniors in a range of room types: single rooms, shared rooms and one multiple occupancy under round-the-clock supervision. The home is well staffed with trained personnel, high priority is given to Senior&rsquo;s nutrition and medical needs and the Home enjoys 24 hour on call service from our doctor. A fully trained nurse and physiotherapist are also on call. Guardsman Ltd. supplies our security service. The objective of the partners, Fay and Mavis Petgrave is to provide a comfortable and attractive assisted living for Seniors covering a full range of care levels. The care categories include:</p>

<ul>
<li>Independent and semi-independent living</li>
<li>Care for the bed-bound</li>
<li>Care for the confused</li>
<li>Care for those who live nearby of for those who just want to come and enjoy the company of other seniors</li>
<li>Social programmes are offered for residents and day care patients</li>
<li>Full doctor&rsquo;s care</li>
<li>Full nursing care</li>
<li>Tube feeding</li>
<li>Meals and snacks including speciality meals</li>
<li>Laundry and other hotel services</li>
</ul>


  </div>
  <div id="right-col">

 <div class="testimonial">





  <q>We can't express in words our gratitude for caring [for our family member] with dignity. You have a wonderful home...your philosophy for caring for the elderly was perfect. </q>
  <h3>a relative who is a doctor</h3>





 </div>
</div>
