<div id="left-col" class="max">
    <h1>Testimonials</h1>



  <h3>from Canada</h3>
  <q>We were very impressed with the Home and found it very safe and secure...it was like a home away from home...[they] have really settled in very nicely.
</q>
  <br />

  <h3>a relative who is a doctor</h3>
  <q>We can't express in words our gratitude for caring [for our family member] with dignity. You have a wonderful home...your philosophy for caring for the elderly was perfect.
</q>
  <br />

  <h3>a wife here at home</h3>
  <q>It was a great comfort to me to know that he was getting the attention which I wanted him to have but was physically unable to give myself. We are grateful to each and every one of you for the part you played in making a very difficult situation so much easier.
</q>
  <br />

  <h3>a son</h3>
  <q>From my visits to the home, I can personally attest to the care and attention given to my mother and it was gratifying to not that she was able to spend the closing years of her life in such a pleasant and relaxing settings.</q>
  <br />




  </div>