* {
	margin: 0;
	padding: 0;
}

body{
	font-size: 62.3%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #E1E27A;
}

p, q {
	font-size: 1.3em;
	line-height: 1.5em;
	margin-bottom: 0.8em;
	font-family:"Georgia","Times New Roman", Times, serif;
	color:#303030;
}

q{font-style: italic;}

h1{
	font-size:3.0em;
	font-family:"Trajan Pro","Times New Roman", Times, serif;
	margin-bottom: 0.8em;
	margin-top: 0.6em;
	font-weight: lighter;
	text-transform: uppercase;
}

h3{
	margin-top: 0.7em;
	font-style: italic;
}

ul{
	list-style-image: image-url('bullet.jpg');
	margin-left: 20px;
}

.clear{ clear:both;}

.fieldWrapper {padding: 5px 0;}

label {
  font-weight: bold;
}

.fieldWrapper input, textarea{
	border:1px solid #9c7f0d;
}

div#main-wrap{
	width: 960px;
	margin: 0 auto;
}

div#header{
	height: 541px;
	background: image-url('mainbg_top.jpg') no-repeat;
	position: relative;
	margin:0 auto;
}

div#logo{
	border: 2px solid blue;
}

div#header.alt{
	height: 226px;
}

ul#nav{
	list-style: none;
	float: right;
	margin-right: 55px;
	margin-bottom: 7px;
	margin-top: 185px;
}

ul#nav li{
	float:left;
	padding-left: 30px;
}

a{
  color: #9c7f0d;
  text-decoration: none;
}

ul#nav li a{
  font-weight: bold;
  text-transform: uppercase;
  font-family:"Trajan Pro","Times New Roman", Times, serif;
  font-size: 1.3em;
}

a:hover, a:active{
  text-decoration: underline;
}

ul#nav li a:hover, ul#nav li a:active{
	text-decoration: underline;
}


div#header div#main-photo-shadow{
	margin:0 auto 0 auto;
	background: image-url('mainphoto_shadow.png') no-repeat;
	height: 326px; width: 868px;
	clear: both;
}

div#header div#main-photo-shadow div#main-photo-canvas{
	position: relative;
	height: 316px;
	width: 860px;
	margin:0 auto;
	background: #FFF;
	border: 1px solid #e2e1e1;

}

div#header div#main-photo-shadow div#main-photo-canvas div#slideshow {
	padding: 18px 16px;
}


div#header div#main-photo-shadow div#main-photo-canvas div#photo{
	margin: 18px auto;
	height: 279px;
	width: 827px;
	background: image-url('photo_home.jpg') no-repeat;
}

div#header div#main-photo-shadow div#main-photo-canvas div#photo-aboutus{
	margin: 18px auto;
	height: 279px;
	width: 827px;
	background: image-url('photo_aboutus.jpg') no-repeat;
}

div#header div#main-photo-shadow div#main-photo-canvas div#photo-services{
	margin: 18px auto;
	height: 279px;
	width: 827px;
	background: image-url('photo_services.jpg') no-repeat;
}

div#header div#main-photo-shadow div#main-photo-canvas div#photo-contactus{
	margin: 18px auto;
	height: 279px;
	width: 827px;
	background: image-url('photo_contactus.jpg') no-repeat;
}

div#header div#main-photo-shadow div#main-photo-canvas div#photo-gallery{
	margin: 18px auto;
	height: 279px;
	width: 827px;
	background: image-url('photo_gallery.jpg') no-repeat;
}

div#header div#main-photo-shadow div#main-photo-canvas div#photo-testimonial{
	margin: 18px auto;
	height: 279px;
	width: 827px;
	background: image-url('photo_testimonials.jpg') no-repeat;
}


div#main-content{
	padding:0 55px 20px 55px;
	text-align: justify;
	background: image-url('mainbg_content.jpg') repeat-y;
}

div#main-content div#left-col{
	float: left;
	width: 480px;
}

div#main-content div#left-col.max{
	width:860px;
}

div#main-content div#right-col{
	float: right;
	width: 350px;
	min-height: 277px;
	background: image-url('testimonial_sticky.jpg') no-repeat top;
	padding-top: 95px;
}

div#main-content div#right-col.not-testimonial {
	float: right;
	width: 350px;
	min-height: 277px;
	background: none;
	padding-top: 73px;
}

div.testimonial{
	display: block;
	width: 230px;
	padding-left: 65px;
}

div#footer{
	height: 69px;
	background: image-url('mainbg_bottom.jpg') no-repeat;
	text-align:center;
	padding-top: 50px;
}

a.lightbox img{
	border: 3px solid #E1E27A;
	border-width: 3px 3px 3px;
}

tr.lightbox-img{
	background-color: #E1E27A;
}

td.caption{
	text-align: center;
	padding-top: 5px;
}

img.content {
	float: left;
	margin: 6px;
}

.blue-text{
  color: #0057A8;
}
